



<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Register</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body >

<h1 class="text-center pt-5">Charity & Donation</h1>
<div class="container">
  <form action="/agent/registration-charity/<%= id %>" method="POST">
    <div class="row">
    <div class="col-12 col-sm-12 col-md-3"></div>

      <div class="col-12 col-sm-12 col-md-6 ">
        <div class="card text-center">
            <div class="card-body">
                <div><img class="w-75" src="/images/Count_BatVersion.png" alt=""></div>
            <h5 class="pt-3">Reak CountDown gives 10% of it's profit to charity</h5>
            <div class="pt-3">

              <select style="padding: 10px; width:300px " name="charity" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
              <option selected>Please Select Charity Name</option>
              <option value="Guitars Over Guns">Guitars Over Guns</option>
              <option value="Make a Wish Foundation">Make a Wish Foundation</option>
              <option value="A Gift for Teaching">A Gift for Teaching</option>
              <option value="National Association of the Deaf">National Association of the Deaf</option>
              <option value="Ronald McDonald House">Ronald McDonald House</option>
              <option value="National Down Syndrome Congress">National Down Syndrome Congress</option>
              <option value="National Breast Cancer Coalition">National Breast Cancer Coalition</option>

              </select>
                    </div>
              <br>
              <div class="float-right">
              <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#exampleModal">Add Name</button>
              <a >
              <button type="submit" class="btn btn-secondary m-2" >Donate</button>
              </a>

            </div>
          </div>
        </div></div>
        <div class="col-12 col-sm-12 col-md-3"></div>
      </div>    <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
              <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Charity Name</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
              <div class="form-group">
              <input type="text" name="charity" class="form-control" id="exampleInput1" aria-describedby="emailHelp" placeholder="Enter Charity Name">
              </div>
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <a >
              <button type="submit" class="btn btn-primary" >Donate</button>
              </a>
              </div>
              </div>
              </div>
              </div>



    </form>

</div>

    <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>



<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalreg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Real CountDown</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="text-center"><img class="w-50" src="/images/Count_BatVersion.png" alt=""></div>

        <div class="pt-2">
            <p>
            Your profile will be shown in the listing within 24 to 48 hours after the approval of the Admin.
            </p>
        </div>
      </div>
      <div class="modal-footer">

        <a href="/login.html">
        <button type="button" class="btn btn-primary">Okay</button>
        </a>

      </div>
    </div>
  </div>
</div>

