<ul
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar"
>
    <!-- Sidebar - Brand -->
    <a
        class="sidebar-brand d-flex align-items-center justify-content-center"
        href="index.html"
    >
        <div class="sidebar-brand-icon rotate-n-15">
            <img class="w-100" src="./img/real-countdown-white.png" alt="" />
        </div>
        <div class="sidebar-brand-text mx-3">CountDown</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0" />

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/admin/main">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
        >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider" />

    <!-- Heading -->
    <div class="sidebar-heading">Interface</div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseReq"
            aria-expanded="true"
            aria-controls="collapseTwo"
        >
            <i class="fas fa-fw fa-cog"></i>
            <span>Profile Listing</span>
        </a>
        <div
            id="collapseReq"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/seller-review"
                    >Seller Reviews Request</a
                >
                <a class="collapse-item" href="/admin/buyer-review"
                    >Buyer Reviews Request</a
                >
                <a class="collapse-item" href="/admin/agent-review"
                    >Agent Reviews Request</a
                >
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseUtilitiesagent"
            aria-expanded="true"
            aria-controls="collapseUtilities"
        >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Review Messages</span>
        </a>
        <div
            id="collapseUtilitiesagent"
            class="collapse"
            aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/agent-to-seller-message"
                    >Agent To Seller</a
                >
                <a class="collapse-item" href="/admin/agent-to-buyer-message"
                    >Agent To Buyer
                </a>
                <!-- <a class="collapse-item" href="agent-msg.html">Agent Messages</a> -->
            </div>
        </div>
    </li>

    <!-- Divider -->
    <!-- <hr class="sidebar-divider"> -->

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Addons
    </div> -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseProfileAgent"
            aria-expanded="true"
            aria-controls="collapsePages"
        >
            <i class="fas fa-fw fa-folder"></i>
            <span>Create Profile Agent </span>
        </a>
        <div
            id="collapseProfileAgent"
            class="collapse"
            aria-labelledby="headingPages"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <a class="collapse-item" href="seller-view.html">Seller Profile</a>
                <a class="collapse-item" href="buyer-view.html">Buyer Profile</a> -->
                <a class="collapse-item" href="/admin/create-agent-profile"
                    >Agent Profile</a
                >
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/customize-notification">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Customize Notification</span></a
        >
    </li>

    <li class="nav-item">
        <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseUtilitiesmsg"
            aria-expanded="true"
            aria-controls="collapseUtilities"
        >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Promotional Messages</span>
        </a>
        <div
            id="collapseUtilitiesmsg"
            class="collapse"
            aria-labelledby="headingUtilitiespro"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/promotional-listing"
                    >Listing</a
                >
                <a
                    class="collapse-item"
                    href="/admin/promotional-agent-to-seller-message"
                    >Agent To Seller</a
                >
                <a
                    class="collapse-item"
                    href="/admin/promotional-agent-to-buyer-message"
                    >Agent To Buyer
                </a>
                <!-- <a class="collapse-item" href="agent-msg.html">Agent Messages</a> -->
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseUtilitiechat"
            aria-expanded="true"
            aria-controls="collapseUtilities"
        >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Chats</span>
        </a>
        <div
            id="collapseUtilitiechat"
            class="collapse"
            aria-labelledby="headingUtilitieschats"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="/admin/chat-agent"
                    >Agent To Admin</a
                >
                <a class="collapse-item" href="/admin/chat-seller"
                    >Seller To Admin</a
                >
                <a class="collapse-item" href="/admin/chat-buyer"
                    >Buyer To Admin
                </a>
                <!-- <a class="collapse-item" href="agent-msg.html">Agent Messages</a> -->
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseUtilitieagrement"
            aria-expanded="true"
            aria-controls="collapseUtilities"
        >
            <i class="fas fa-fw fa-wrench"></i>
            <span>Referral Agreement</span>
        </a>
        <div
            id="collapseUtilitieagrement"
            class="collapse"
            aria-labelledby="headingUtilitieschats"
            data-parent="#accordionSidebar"
        >
            <div class="bg-white py-2 collapse-inner rounded">
                <a
                    class="collapse-item"
                    href="/admin/referral-agreement-agent-to-seller"
                    >Agent To Seller</a
                >
                <a
                    class="collapse-item"
                    href="/admin/referral-agreement-agent-to-buyer"
                    >Agent To Buyer</a
                >

                <!-- <a class="collapse-item" href="agent-msg.html">Agent Messages</a> -->
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/invited-agent">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Invited Agent</span></a
        >
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/charity-donation">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charity Donation</span></a
        >
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/edit-profile">
            <i class="fas fa-fw fa-table"></i>
            <span>Edit Profile</span></a
        >
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <!-- <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div> -->
</ul>
