

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.php">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Seller</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/seller/main">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>



    <!-- Nav Item - Pages Collapse Menu -->




    <!-- Nav Item - Utilities Collapse Menu -->
    <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Bids In Progress</span>
        </a>
        <div id="collapseUtilities" class="collapse " aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="accepted-bids.php">Accepted Bids</a>
                <a class="collapse-item" href="waiting-bids.php">Waiting Bids</a>
                <a class="collapse-item" href="rejected-bids.php">Rejected Bids</a>

            </div>
        </div>
    </li> -->

    <!-- Divider -->
    <!-- <hr class="sidebar-divider"> -->

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
                Addons
            </div> -->

    <!-- Nav Item - Pages Collapse Menu -->


    <!-- Nav Item - Charts -->

    <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReq" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-folder"></i>
                <span>Property </span>
                </a>
                <div id="collapseReq" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="/seller/add-property">Add Property</a>
                        <a class="collapse-item" href="/seller/saved-properties">Save Property</a>


                    </div>
                </div>
            </li>

    <li class="nav-item">
                <a class="nav-link collapsed" href="bids-progress.php" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Bids In Progress</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">

                        <a class="collapse-item" href="/seller/accepted-bids">Accepted Bids</a>
                        <a class="collapse-item" href="/seller/rejected-bids">Rejected Bids</a>
                        <a class="collapse-item" href="/seller/waiting-bids">Waiting Bids</a>

                    </div>
                </div>
            </li>


    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProfileAgent" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span> Agent Listing</span>
        </a>
        <div id="collapseProfileAgent" class="collapse " aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">

                <a class="collapse-item" href="/seller/state-listing">Current State Listing</a>
                <a class="collapse-item" href="/seller/country-listing">Country State Listing</a>


            </div>
        </div>
    </li>



    <li class="nav-item">
        <a class="nav-link" href="/seller/successfull-bids">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Successful Bids </span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/seller/agent-chat">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Chat With Agents <i class="fas pl-5 fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">3+</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/seller/admin-chat">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Chat With Admin
            <i class="fas pl-5 fa-envelope fa-fw"></i>
            </span>
            <span class="badge badge-danger badge-counter">2</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/seller/promotional-messages">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Promotional Messages <i class="fas pl-3 fa-envelope fa-fw"></i></span>
            <span class="badge badge-danger badge-counter">2</span>
        </a>
    </li>
    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/seller/edit-profile">
            <i class="fas fa-fw fa-table"></i>
            <span>Edit Profile</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>

</ul>
<!-- End of Sidebar -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>





